/**/
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.header{
    box-sizing: border-box;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
}

#logo{
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
    /*background-color: blue;*/
}
/*
.navbar{
    width: 100%;
    background-color: gray;
}*/

#menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 10px;
}

#menu a {
    display: block;
    padding: 20px;
    color: white;
    font-size: 35px;
    text-decoration: none;
}









main{
    padding: 50px;
    background-color: aqua;
}
.section {
    height: 300px;
    margin-top: 50px;
    background-color: bisque;
}


footer{
    height: 300px;
    text-align: center;
    background-color: brown;
}

footer h2{
    color: white;
    font-size: 50px;
}


